.DS_Store
Debug/
ipch/
x64/Debug/
MFCApplication5/Debug/
MFCApplication5/Release/
MFCApplication5/x64/Debug/
/dist/


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vs
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
